* {
    box-sizing: border-box;
  }
 
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fefbea;
  }
 
  .row { 
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .side-main {
    -ms-flex: 15%; 
    flex: 0.5%;
    background-color: #fefbea;
  }
 
  .side {
    -ms-flex: 15%; 
    flex: 0.5%;
    background-color: #fefbea;
    padding: 20px;
  }
 
  .main {  
    -ms-flex: 50%;
    flex: 50%;
    background-color: #fefbea;
    padding: 20px 20px 100px 20px;
    text-align: left;
    font-size: 20px;
     line-height: 30px;
  }
 
   .sidenav2 {
     
     top: 319px;
     left: 10px;
     bottom: 11%;
     overflow-x: hidden;
     margin: 2px;
     font-size: 20px;
     line-height: 30px;
     height: auto;
   }
   