* {
    box-sizing: border-box;
}

.body1{
    background-image: url('fjell.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.body2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fefbea;
}
#tittel{
    font-size: 250px;
    color: yellow;
    font-family: sans-serif, "Montserrat";
    margin: 0%;
    text-align: center;
    margin-top: -2%;
    letter-spacing: -25px;
}
#txttop{
    color: white;
    margin: 0;
}
#Side{
    width: 400px;
    height: 250px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    color: yellow;
    font-size: 40px;
    overflow-wrap: break-word;
    padding-left: 7%;
    font-family: sans-serif, "Montserrat";
}
#foto{
    position: relative;
    top: -20%;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 20px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.side-main {
    -ms-flex: 15%;
    flex: 0.5%;
    background-color: #fefbea;
}

.side {
    -ms-flex: 15%;
    flex: 0.5%;
    background-color: #fefbea;
    padding: 20px;
}

.main {
    -ms-flex: 50%;
    flex: 50%;
    background-color: #fefbea;
    padding: 20px 20px 100px 20px;
    text-align: left;
    font-size: 20px;
    line-height: 30px;
}

.sidenav2 {

    top: 319px;
    left: 10px;
    bottom: 11%;
    overflow-x: hidden;
    margin: 2px;
    font-size: 20px;
    line-height: 30px;
    height: auto;
}

footer{
    position: relative;
}
.column{
    float: left;
    width: 25%;
    color: white;
    margin-top: 10%;
    line-height: 10px;
    text-align: center;
    font-family: sans-serif, "Montserrat";
    letter-spacing: -1px;
}
h2{
    font-size: 22px;
    font-family: sans-serif, "Montserrat";
}

#ns {
    position: absolute;
    left: 1%;
    top: 20%;
    color: aqua;
    font-size: 20px;
}

#fs{
    position: relative;
    left: 0;
    color: black;
    font-size: 20px;
}

#FT{
    position: relative;
    left: 77%;
    margin: 0;
    color: white;
    font-size: 15px;
}